<ion-view view-title="Pet Profiles">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list has-header">
            <div data-ng-repeat="pet in pets | orderBy:'active':true" ui-sref="app.pet" class="card card-gallery item item-text-wrap col-45">
                <div class="ink dark-bg blue-bg">
                    <h2>{{pet.Name}}</h2>
                    <img class="full-image" ng-src="{{pet.Photo}}">
                </div>
                <div class="tabs tabs-dark tabs-icon-top static">
                    <a ui-sref="app.pets" class="tab-item">
                        <i class="icon material-icons">create</i>Edit
                    </a>
                    <a ui-sref="app.tasks" class="tab-item">
                        <i class="icon ion-checkmark-circled"></i>Tasks
                    </a>
                </div>                
            </div>            
        </div>       
    </ion-content>
</ion-view>